/*

title: index.html / addItem.html Styles
by: Nick Stelzer
for: Project 2
Date

*/

body {
	font-family: Arial, Helvetica, serif;
	background: -webkit-gradient(linear, left top, 0 330, from(#11175E), to(#1B75BA));
	padding-left: 5px;
	padding-right: 5px;
}
#content{overflow: scroll;}

h1 {
	border-radius: 15px;
	text-align: center;
	padding: 10px 0px 10px 0px;
	background: #ffffff;
}

fieldset {
	border: 0px;
}

form {
	background: #ffffff;
	border-radius: 15px;
	font-size: 14px;
}

legend {
	font-size: 24px;
	font-weight: bold;
	padding-top: 10px;
}

textarea {
	height: 60px;
	width: 220px;
}

ul {
	margin-left: -20px;
	list-style-type: square;
}